# Import libraries

In [27]:
import pandas as pd
import numpy as np
import os

# Main Project Folder

In [28]:
path = r'C:\Users\david\04-06-2024 Instacart Basket Analysis'

## Data Import

In [29]:
df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_prior.csv'))

In [30]:
df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_cleaned.csv'))

In [31]:
df_ords_prior.shape

(32434489, 4)

In [32]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_ordinal_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [33]:
df_ords.shape

(3421083, 9)

## df_ords and df_ords_prior merge

In [34]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [35]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Exercise 4.6

In [36]:
# Question 2
df_merged_large.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [37]:
# Question 3
df_orders_product_combined_check = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_orders_product_combined_check.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_ordinal_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [38]:
# Question 4
df_orders_product_combined_check.shape
# 32434489 = 32434489

(32434489, 13)

In [39]:
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_cleaned.csv'))

In [40]:
#5
df = df_merged_large.merge(df_prods, on = 'product_id')

In [41]:
df

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_ordinal_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both,195,Soda,77,7,9.0
1,1,1,2398795,1,2,3,7,15.0,False,196,1,1,both,195,Soda,77,7,9.0
2,2,2,473747,1,3,3,12,21.0,False,196,1,1,both,195,Soda,77,7,9.0
3,3,3,2254736,1,4,4,7,29.0,False,196,1,1,both,195,Soda,77,7,9.0
4,4,4,431534,1,5,4,15,28.0,False,196,1,1,both,195,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,3360493,3360493,1320836,202557,17,2,15,1.0,False,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32404855,3360494,3360494,31526,202557,18,5,11,3.0,False,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
32404856,3376038,3376038,758936,203436,1,2,7,NaN,True,42338,4,0,both,42342,"Zucchini Chips, Pesto",50,19,6.9
32404857,3376039,3376039,2745165,203436,2,3,5,15.0,False,42338,16,1,both,42342,"Zucchini Chips, Pesto",50,19,6.9
32404858,3408036,3408036,3093936,205420,1,4,14,NaN,True,28818,8,0,both,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [42]:
df[df['user_id'] == 1]

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_ordinal_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both,195,Soda,77,7,9.0
1,1,1,2398795,1,2,3,7,15.0,False,196,1,1,both,195,Soda,77,7,9.0
2,2,2,473747,1,3,3,12,21.0,False,196,1,1,both,195,Soda,77,7,9.0
3,3,3,2254736,1,4,4,7,29.0,False,196,1,1,both,195,Soda,77,7,9.0
4,4,4,431534,1,5,4,15,28.0,False,196,1,1,both,195,Soda,77,7,9.0
5,5,5,3367565,1,6,2,7,19.0,False,196,1,1,both,195,Soda,77,7,9.0
6,6,6,550135,1,7,1,9,20.0,False,196,1,1,both,195,Soda,77,7,9.0
7,7,7,3108588,1,8,1,14,14.0,False,196,2,1,both,195,Soda,77,7,9.0
8,8,8,2295261,1,9,1,16,0.0,False,196,4,1,both,195,Soda,77,7,9.0
9,9,9,2550362,1,10,4,8,30.0,False,196,1,1,both,195,Soda,77,7,9.0
35791,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
51726,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4
51727,1,1,2398795,1,2,3,7,15.0,False,12427,3,1,both,12427,Original Beef Jerky,23,19,4.4
51728,2,2,473747,1,3,3,12,21.0,False,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4
51729,3,3,2254736,1,4,4,7,29.0,False,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4
51730,4,4,431534,1,5,4,15,28.0,False,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4
51731,5,5,3367565,1,6,2,7,19.0,False,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4
51732,6,6,550135,1,7,1,9,20.0,False,12427,3,1,both,12427,Original Beef Jerky,23,19,4.4
51733,7,7,3108588,1,8,1,14,14.0,False,12427,1,1,both,12427,Original Beef Jerky,23,19,4.4
51734,8,8,2295261,1,9,1,16,0.0,False,12427,6,1,both,12427,Original Beef Jerky,23,19,4.4
51735,9,9,2550362,1,10,4,8,30.0,False,12427,9,1,both,12427,Original Beef Jerky,23,19,4.4
58202,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7
58203,1,1,2398795,1,2,3,7,15.0,False,26088,5,1,both,26089,Aged White Cheddar Popcorn,23,19,4.7
60725,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0
60726,3,3,2254736,1,4,4,7,29.0,False,26405,5,1,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0
61939,1,1,2398795,1,2,3,7,15.0,False,10258,2,0,both,10258,Pistachios,117,19,3.0
61940,2,2,473747,1,3,3,12,21.0,False,10258,3,1,both,10258,Pistachios,117,19,3.0
61941,3,3,2254736,1,4,4,7,29.0,False,10258,3,1,both,10258,Pistachios,117,19,3.0
61942,4,4,431534,1,5,4,15,28.0,False,10258,3,1,both,10258,Pistachios,117,19,3.0
61943,5,5,3367565,1,6,2,7,19.0,False,10258,3,1,both,10258,Pistachios,117,19,3.0
61944,6,6,550135,1,7,1,9,20.0,False,10258,2,1,both,10258,Pistachios,117,19,3.0
61945,7,7,3108588,1,8,1,14,14.0,False,10258,3,1,both,10258,Pistachios,117,19,3.0
61946,8,8,2295261,1,9,1,16,0.0,False,10258,5,1,both,10258,Pistachios,117,19,3.0
61947,9,9,2550362,1,10,4,8,30.0,False,10258,6,1,both,10258,Pistachios,117,19,3.0
63885,1,1,2398795,1,2,3,7,15.0,False,13176,4,0,both,13176,Bag of Organic Bananas,24,4,10.3
63886,4,4,431534,1,5,4,15,28.0,False,13176,8,1,both,13176,Bag of Organic Bananas,24,4,10.3
443335,1,1,2398795,1,2,3,7,15.0,False,13032,6,0,both,13032,Cinnamon Toast Crunch,121,14,4.0
443336,6,6,550135,1,7,1,9,20.0,False,13032,5,1,both,13032,Cinnamon Toast Crunch,121,14,4.0
443337,9,9,2550362,1,10,4,8,30.0,False,13032,8,1,both,13032,Cinnamon Toast Crunch,121,14,4.0
447086,2,2,473747,1,3,3,12,21.0,False,25133,4,0,both,25134,Organic String Cheese,21,16,8.6
447087,3,3,2254736,1,4,4,7,29.0,False,25133,4,1,both,25134,Organic String Cheese,21,16,8.6
447088,4,4,431534,1,5,4,15,28.0,False,25133,4,1,both,25134,Organic String Cheese,21,16,8.6
447089,5,5,3367565,1,6,2,7,19.0,False,25133,4,1,both,25134,Organic String Cheese,21,16,8.6
447090,6,6,550135,1,7,1,9,20.0,False,25133,4,1,both,25134,Organic String Cheese,21,16,8.6
447091,7,7,3108588,1,8,1,14,14.0,False,25133,4,1,both,25134,Organic String Cheese,21,16,8.6
447092,8,8,2295261,1,9,1,16,0.0,False,25133,3,1,both,25134,Organic String Cheese,21,16,8.6
447093,9,9,2550362,1,10,4,8,30.0,False,25133,5,1,both,25134,Organic String Cheese,21,16,8.6
453282,2,2,473747,1,3,3,12,21.0,False,30450,5,0,both,30452,Creamy Almond Butter,88,13,3.2
474772,4,4,431534,1,5,4,15,28.0,False,10326,5,0,both,10326,Organic Fuji Apples,24,4,2.7
480298,4,4,431534,1,5,4,15,28.0,False,17122,6,0,both,17122,Honeycrisp Apples,24,4,14.0
494178,4,4,431534,1,5,4,15,28.0,False,41787,7,0,both,41791,Bartlett Pears,24,4,5.0
529591,7,7,3108588,1,8,1,14,14.0,False,46149,5,0,both,46153,Zero Calorie Cola,77,7,13.4
529592,8,8,2295261,1,9,1,16,0.0,False,46149,2,1,both,46153,Zero Calorie Cola,77,7,13.4
529593,9,9,2550362,1,10,4,8,30.0,False,46149,2,1,both,46153,Zero Calorie Cola,77,7,13.4
538149,7,7,3108588,1,8,1,14,14.0,False,49235,6,0,both,49239,Organic Half & Half,53,16,1.8
538150,8,8,2295261,1,9,1,16,0.0,False,49235,1,1,both,49239,Organic Half & Half,53,16,1.8
614509,9,9,2550362,1,10,4,8,30.0,False,39657,3,0,both,39661,Milk Chocolate Almonds,45,19,6.8
619528,9,9,2550362,1,10,4,8,30.0,False,38928,4,0,both,38932,0% Greek Strained Yogurt,120,16,12.6
632766,9,9,2550362,1,10,4,8,30.0,False,35951,7,0,both,35955,Organic Unsweetened Almond Milk,91,16,1.3

In [43]:
df1 = df[:1000000]

In [44]:
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High-range product'
    else:
        return 'Not enough data'

In [45]:
df1['prices'].max()

14.8

In [46]:
df.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))